@charset "utf-8";
/* CSS Document */

/* baggrundsbilledet */ 
body {background-image: url("Ændret foto 2 redigeret-.jpg");
}

/* overskrift font størelse*/
h1 {font-size: 60px; 
}


/* font størelse forside*/
.forside-tekst {font-size: 40px;
}

.tekstservice {font-size: 40px;
}

.serviceknap {position: absolute;
left: 50px;
	}

.omtimeservice {position: absolute;
right: 50px;}





