@charset "utf-8";
/* CSS Document */

/* baggrundsbilledet */ 
body {background-image: url("Ændret foto 2 redigeret-.jpg");
	background-position: right;
	width: 100%; height: 100%;
}

/* overskrift font størelse*/
h1 {font-size: 60px; 
	font-family: Gotham, "Arial, Helvetica Neue", Helvetica, "sans-serif";
}



/* font størelse forside*/
.forside-tekst {font-size: 30px;
	font-family: Gotham, "Arial, Helvetica Neue", Helvetica, "sans-serif";
}


/* font størelse serviceses */ 
.tekstservice {font-size: 30px;
	font-family: Gotham, "Arial, Helvetica Neue", Helvetica, "sans-serif";
}


/* Om time service siden font størelse og farve*/
.OTS-tekst {font-size: 30px;
font-family: Gotham, "Arial, Helvetica Neue", Helvetica, "sans-serif";}


/* E-mail siden font størelse og font*/
.e-mail {font-size: 30px;
font-family: Arial, Gotham, "Helvetica Neue", Helvetica, "sans-serif";}


/* Tlf nr font størelse og font*/
.Tlf {font-size: 30px;
font-family: Arial, Gotham, "Helvetica Neue", Helvetica, "sans-serif";}


/* Baggrundsfarve til Paragraffer og Headers*/
span {background-color: rgb(239, 125, 15);} 


/* kanp der tager dig til serviceses*/ 
.serviceknap {position: absolute;
left: 50px;
	}

/* knap til at tage dig til Om time service*/
.omtimeservice {position: absolute;
right: 50px;}


/*knap på Om Serviceses til forsiden*/
.forsideknapS {height: 150px;
width: 150px;}


/* knapperne til Om time service*/
.omtimeservice {width: 150px; 
	height: 150px;} 


/*knap på Om Om time-service til forsiden*/
.forsideknap01 {width: 150px;
	position: absolute;
	right: 50px;} 


/*Ændre font størelsen på paragrafer*/
@media screen and (min-width:600px){
   div.tekst, .Tlf, .e-mail  {font-size: 30px;}
}

/*Mindsker font størelsen på paragrafer */
@media screen and (max-width: 600px) {
	div.tekst, .Tlf, .e-mail  {font-size: 20px;}
}


/*Ændre titel font størelsen */
@media screen and (min-width:600px){
   div.titel {font-size: 60px;}
}

/*Ændre titel font størelsen */
@media screen and (max-width: 600px) {
	div.titel {font-size: 30px;}
}

/*knappers positions ændring */
@media screen and (max-width: 400px){
	
	.omtimeservice, .forsideknap01 {
		position: absolute;
		top: 775px;}
}





	










