@charset "utf-8";
/* CSS Document */

/* baggrundsbilledet */ 
body {background-image: url("Ændret foto 2 redigeret-.jpg");
}

/* overskrift font størelse*/
h1 {font-size: 60px; 
}


/* font størelse forside*/
.forside-tekst {font-size: 35px;
}
/* font størelse serviceses */ 
.tekstservice {font-size: 35px;
}

.OTS-tekst {font-size: 35px;
color: crimson}

.serviceknap {position: absolute;
left: 50px;
	}

.omtimeservice {position: absolute;
right: 50px;}

.forsideknapS {height: 150px;
width: 150px;}

.omtimeservice {width: 150px; 
	height: 150px;} 


.forsideknap01 {width: 150px;
position: absolute; 
	right: 50px;} 




